# SQL Hackerrank

By Shraddha Shetty https://www.hackerrank.com/shraddhashetty01

## Basic SELECT

#### 1.Employee Names
Write a query that prints a list of employee names (i.e.: the name attribute) from the Employee table in alphabetical order.
https://www.hackerrank.com/challenges/name-of-employees/problem?isFullScreen=true

In [ ]:
SELECT name
FROM Employee
ORDER BY name ASC;

#### 2.Employee Salaries
Write a query that prints a list of employee names (i.e.: the name attribute) for employees in 
Employee having a salary greater than $2000 per month who have been employees for less than 10 months. 
Sort your result by ascending employee_id.

https://www.hackerrank.com/challenges/salary-of-employees/problem?isFullScreen=true

In [ ]:
SELECT name
FROM Employee
WHERE salary > 2000 AND months < 10
ORDER BY employee_id ASC;

#### 3. Higher Than 75 Marks
Query the Name of any student in STUDENTS who scored higher than 75 Marks. 
Order your output by the last three characters of each name. 
If two or more students both have names ending in the same last three characters (i.e.: Bobby, Robby, etc.), 
secondary sort them by ascending ID.

https://www.hackerrank.com/challenges/more-than-75-marks/problem?isFullScreen=true

In [ ]:
SELECT Name
FROM STUDENTS
WHERE MARKS > 75
ORDER BY SUBSTR(Name, LENGTH(name)-2, 3), ID;

#### 4. Select All

https://www.hackerrank.com/challenges/select-all-sql/problem?isFullScreen=true

In [ ]:
SELECT *
FROM CITY;

#### 5.Select By ID
Query all columns for a city in CITY with the ID 1661.

https://www.hackerrank.com/challenges/select-by-id/problem?isFullScreen=true

In [ ]:
SELECT * 
FROM CITY
WHERE ID = 1661;

#### 6. Revising the Select Query I

Query all columns for all American cities in the CITY table with populations larger than 100000. 
The CountryCode for America is USA.

https://www.hackerrank.com/challenges/revising-the-select-query/problem?isFullScreen=true

In [ ]:
SELECT *
FROM CITY
WHERE POPULATION > 100000
 AND COUNTRYCODE = 'USA';

#### 7.Revising the Select Query II

Query the NAME field for all American cities in the CITY table with populations larger than 120000. 
The CountryCode for America is USA.

https://www.hackerrank.com/challenges/revising-the-select-query-2/problem?isFullScreen=true

In [ ]:
SELECT NAME
FROM CITY
WHERE POPULATION > 120000 
AND COUNTRYCODE = 'USA';

#### 8. Japanese Cities' Attributes
Query all attributes of every Japanese city in the CITY table. The COUNTRYCODE for Japan is JPN.

https://www.hackerrank.com/challenges/japanese-cities-attributes/problem?isFullScreen=true

In [ ]:
SELECT *
FROM CITY
WHERE COUNTRYCODE = 'JPN';

#### 9.Japanese Cities' Names

Query the names of all the Japanese cities in the CITY table. The COUNTRYCODE for Japan is JPN.

https://www.hackerrank.com/challenges/japanese-cities-name/problem?isFullScreen=true

In [ ]:
SELECT NAME
FROM CITY
WHERE COUNTRYCODE = 'JPN';

#### 10. Weather Observation Station 1
Query a list of CITY and STATE from the STATION table.

https://www.hackerrank.com/challenges/weather-observation-station-1/problem?isFullScreen=true

In [ ]:
SELECT CITY, STATE
FROM STATION;

#### 11.Weather Observation Station 3

Query a list of CITY names from STATION for cities that have an even ID number. 
Print the results in any order, but exclude duplicates from the answer.

https://www.hackerrank.com/challenges/weather-observation-station-3/problem?isFullScreen=true

In [ ]:
SELECT DISTINCT CITY
FROM STATION 
WHERE ID%2 = 0;

#### 12.Weather Observation Station 4
Find the difference between the total number of CITY entries in the table and the number of distinct CITY entries in the table.

https://www.hackerrank.com/challenges/weather-observation-station-4/problem?isFullScreen=true

In [ ]:
SELECT COUNT(CITY) - COUNT(DISTINCT CITY) 
FROM STATION;

#### 13. Weather Observation Station 5

Query the two cities in STATION with the shortest and longest CITY names, 
as well as their respective lengths (i.e.: number of characters in the name). 
If there is more than one smallest or largest city, choose the one that comes first when ordered alphabetically.

https://www.hackerrank.com/challenges/weather-observation-station-5/problem?isFullScreen=true

In [ ]:
SELECT CITY AS c, LENGTH(CITY) l
FROM STATION
ORDER BY l DESC, c ASC
LIMIT 1;
SELECT CITY AS c, LENGTH(CITY) l
FROM STATION
ORDER BY l ASC, c ASC
LIMIT 1;

#### 14.Weather Observation Station 6
Query the list of CITY names starting with vowels (i.e., a, e, i, o, or u) from STATION. 
Your result cannot contain duplicates.

https://www.hackerrank.com/challenges/weather-observation-station-6/problem?isFullScreen=true

In [ ]:
SELECT DISTINCT CITY FROM STATION
WHERE CITY LIKE "A%" OR CITY LIKE "E%" OR  CITY LIKE "I%" OR  CITY LIKE "O%" OR  CITY LIKE "U%";

#### 15.Weather Observation Station 7

Query the list of CITY names ending with vowels (a, e, i, o, u) from STATION. 
Your result cannot contain duplicates.

https://www.hackerrank.com/challenges/weather-observation-station-7/problem?isFullScreen=true

In [ ]:
SELECT DISTINCT CITY FROM STATION
WHERE CITY LIKE "%A" OR CITY LIKE "%E" OR  CITY LIKE "%I" OR  CITY LIKE "%O" OR  CITY LIKE "%U";

#### 16.Weather Observation Station 8

Query the list of CITY names from STATION which have vowels (i.e., a, e, i, o, and u) as both their first and last characters. 
Your result cannot contain duplicates.

https://www.hackerrank.com/challenges/weather-observation-station-8/problem?isFullScreen=true

In [ ]:
SELECT DISTINCT CITY FROM STATION
WHERE (CITY LIKE "A%" OR CITY LIKE "E%" OR  CITY LIKE "I%" OR  CITY LIKE "O%" OR  CITY LIKE "U%") AND
(CITY LIKE "%A" OR CITY LIKE "%E" OR  CITY LIKE "%I" OR  CITY LIKE "%O" OR  CITY LIKE "%U") ;

#### 17.Weather Observation Station 9
Query the list of CITY names from STATION that do not start with vowels. 
Your result cannot contain duplicates

https://www.hackerrank.com/challenges/weather-observation-station-9/problem?isFullScreen=true

In [ ]:
SELECT DISTINCT CITY 
FROM STATION
WHERE NOT (CITY LIKE "A%" OR CITY LIKE "E%" OR  CITY LIKE "I%" OR  CITY LIKE "O%" OR  CITY LIKE "U%");

#### 18. Weather Observation Station 10
Query the list of CITY names from STATION that do not end with vowels. Your result cannot contain duplicates.

https://www.hackerrank.com/challenges/weather-observation-station-10/problem?isFullScreen=true

In [ ]:
SELECT DISTINCT CITY FROM STATION
WHERE NOT (CITY LIKE "%A" OR CITY LIKE "%E" OR  CITY LIKE "%I" OR  CITY LIKE "%O" OR  CITY LIKE "%U");

#### 19.Weather Observation Station 11

Query the list of CITY names from STATION that either do not start with vowels or do not end with vowels. 
Your result cannot contain duplicates.

https://www.hackerrank.com/challenges/weather-observation-station-11/problem?isFullScreen=true

In [ ]:
SELECT DISTINCT CITY FROM STATION
WHERE NOT( 
    (CITY LIKE "A%" OR CITY LIKE "E%" OR  CITY LIKE "I%" OR  CITY LIKE "O%" OR  CITY LIKE "U%") 
    AND
    (CITY LIKE "%A" OR CITY LIKE "%E" OR  CITY LIKE "%I" OR  CITY LIKE "%O" OR  CITY LIKE "%U")
         ) ;

#### 20.Weather Observation Station 12

Query the list of CITY names from STATION that do not start with vowels and do not end with vowels.
Your result cannot contain duplicates.

https://www.hackerrank.com/challenges/weather-observation-station-12/problem?isFullScreen=true

In [ ]:
SELECT DISTINCT CITY FROM STATION
WHERE 
NOT(CITY LIKE "A%" OR CITY LIKE "E%" OR  CITY LIKE "I%" OR  CITY LIKE "O%" OR  CITY LIKE "U%") 
AND
NOT (CITY LIKE "%A" OR CITY LIKE "%E" OR  CITY LIKE "%I" OR  CITY LIKE "%O" OR  CITY LIKE "%U");